.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.menu-open {
  border: none;
  background-color: $white;
  cursor: pointer;
}

/*===================================MENU BURGER==========================*/
.menu-burger.is-hidden {
  display: none;
}

.menu-burger {
  z-index: 4999;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 90px 20px;

  background-color: $white;

  @include tablet {
    padding: 20px;
  }
}

.logo-tablet {
  display: none;

  @include tablet {
    display: block;
    margin-bottom: 50px;
  }
}

.menu-close {
  position: absolute;
  top: 22px;
  right: 20px;

  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: $white;
  cursor: pointer;
}

.input-mobile {
  position: relative;
  display: block;
  height: 40px;
  margin-bottom: 40px;

  @include tablet {
    display: none;
  }
}

.input-tablet {
  display: none;

  @include tablet {
    position: relative;
    display: block;
    height: 40px;

    margin-right: 40px;
  }
}

input {
  width: 280px;
  padding: 10px 0 10px 48px;

  border: 1px solid $grapefruit;
  border-radius: 4px;
}

::placeholder {
  margin-left: 170px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  color: rgba(95, 103, 117, 0.4);
  border-right: 1px solid $gray;
}

.search-btn {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  border-right: 1px solid $grapefruit;
  border-radius: 4px 0 0 4px;

  background-color: $white;
  cursor: pointer;
}

.tablet-box {
  @include tablet {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-link {
  font-size: 28px;
  line-height: 0.85;
}

.favorites {
  margin: 0;

  font-size: 28px;
  line-height: 0.85;
  cursor: pointer;
}

.box {
  margin-top: 32px;
  width: 150px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.favorite-pages.is-hidden {
  display: none;
}

.favorite-pages {
  width: 150px;
  height: 80px;
  padding: 10px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  box-shadow: 2px 16px 27px -4px rgba(253, 82, 3, 0.5);
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    margin-left: auto;
  }
}

.arrow-icon {
  cursor: pointer;
  /* transform: rotate();
  transition: transform 500ms; */
}
