/*===================================HERO=================================*/
.hero {
  padding: 60px 20px;
}

.page-title {
  margin-bottom: 60px;
  width: 300px;

  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  color: $grapefruit;
}
