/*===================================HERO=================================*/
.hero {
  position: relative;
  padding: 60px 20px 40px 20px;

  @include tablet {
    padding: 100px 32px 120px 32px;
  }

  @include desktop {
    padding: 100px 16px 120px 16px;
  }
}

.page-title {
  width: 300px;

  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  color: $grapefruit;

  @include tablet {
    font-size: 26px;
    line-height: 1.6;
    width: 338px;
  }

  @include desktop {
    width: 688px;

    font-size: 52px;
    line-height: 1.5;
  }
}

.hero-image {
  margin: 60px 0;

  @include tablet {
    width: 336px;
    height: 294px;
    position: absolute;
    top: 20px;
    right: 32px;

    width: 336px;
    height: 294px;
  }

  @include desktop {
    top: 97px;
    right: 16px;

    width: 501px;
    height: 439px;
  }
}

.search-descr {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;

  opacity: 0.8;

  @include tablet {
    margin: 40px 0;
    text-align: left;
  }

  @include desktop {
    font-size: 18px;
    line-height: 1.5;
  }
}

/*============================LETTERS SEARCH MOB=================================*/
.select-box {
  display: flex;
  justify-content: center;

  @include tablet {
    display: none;
  }
}

.select {
  width: 93px;
  height: 34px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  border: 1px solid $grapefruit;
  border-radius: 4px;
  color: $grapefruit;
}

option {
  border: 1px solid $grapefruit;
  border-radius: 4px;
}

/*============================LETTERS SEARCH TABLET AND DESKTOP=================================*/
.letters-list {
  display: none;
  @include tablet {
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;

    color: $gray;
  }

  @include desktop {
    width: 500px;
    gap: 23px;

    font-size: 24px;
    line-height: 1.5;
  }
}

.current-letter {
  color: $grapefruit;
}
