.modal{
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
       overflow: auto;
     
}
// .modal-content:before {
//     content: " ";
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,0.3);
//     z-index: -1;
//   }
.modall{
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;

   
    overflow: scroll;
}

.modal-content{
    // overflow: auto;
    z-index: 1;
    position: absolute;
    background-color: $white;
    // padding-left: 20px;
    padding: 40px 20px;;
    // margin-left: auto;
    // margin-right: auto;
// max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) ;
 
    
     @media screen and (min-width:715px){
        min-width: 715px;
    }
       }
    
    .modal-title{
    
        // margin-top: 40px;
    
        font-weight: 900;
        font-size: 32px;
        line-height:1.18;
        color: $black;
        font-family: 'Roboto';

    }
    
    .modal-after-title{
    
        margin-top: 20px;
    
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
        color: $black;
        font-family: 'Poppins';

        @media screen and (min-width:715px) {
            max-width: 800px;
            border-bottom: 1px solid #FD5103;
            margin-top : 28px;
              padding-bottom:  40px;
                // border: 1px solid #FD5103;
            }
          }
        
    
    .modal-text{
    
        margin-top: 20px;
    
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.7;
        color: $gray;
        max-width: 280px;

        @media screen and (min-width:715px) {
                margin-top : 28px;
                margin-bottom: 40px;
                max-width: 654px;
              
            }
    }
    
    .modal-list{
        margin-top: 20px;
        text-decoration: none;
    }
    
    .modal-name-title{
        font-family: 'Poppins';
        color: $black;
    }
    
    .modal-link{
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 1.6;
        color: $gray;

        &:hover,
        &focus{
            color: $orange;
        }
    }
    
    
    .button-test{
    
        margin-top: 32px;
    
        color: white;
        border: none;
        background-color: $orange;
        width: 185px;
        height: 48px;
        border-radius: 4px;

         
    &:hover,
    &:focus{
        color: $orange;
        background-color: white;
    }
}
       
    .button-testt{
    
        margin-top: 32px;
    
        color: white;
        border: none;
        background-color: $orange;
        width: 185px;
        height: 48px;
        border-radius: 4px;

         
    &:hover,
    &:focus{
        color: $orange;
        background-color: white;
    }

    // @media screen and (min-width:715px){
    //     margin-bottom: 28px;
    // }
}

.decoration-button{
    @media screen and (min-width:715px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.isClose{
    width: 32px;
height: 32px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    border: 0;
    top: 0;
    right: 0;
}

.isClosee{
    width: 32px;
height: 32px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    border: 0;
    top: 0;
    right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }