<section class="hero container">
  <h1 class="page-title">A party without cocktails is not like a party</h1>
  <picture>
    <source srcset="./images/hero.desk.png" media="(min-width:1200px)" />
    <source srcset="./images/hero.tablet.png" media="(min-width:768px)" />
    <source srcset="./images/hero.mob.png" media="(min-width:320px)" />
    <img
      src="./images/hero.mob.png"
      alt="hero cocktail"
      width="280"
      height="245"
      class="hero-image"
    />
  </picture>
  <p class="search-descr">Search your favorite cocktail by ABC</p>

  <ul class="letters-list">
    <li class="letter-item">A</li>
    <li class="letter-item">B</li>
    <li class="letter-item">C</li>
    <li class="letter-item">D</li>
    <li class="letter-item">E</li>
    <li class="letter-item">F</li>
    <li class="letter-item">G</li>
    <li class="letter-item">H</li>
    <li class="letter-item">I</li>
    <li class="letter-item">J</li>
    <li class="letter-item">K</li>
    <li class="letter-item">L</li>
    <li class="letter-item">M</li>
    <li class="letter-item">N</li>
    <li class="letter-item">O</li>
    <li class="letter-item">P</li>
    <li class="letter-item">Q</li>
    <li class="letter-item">R</li>
    <li class="letter-item">S</li>
    <li class="letter-item">T</li>
    <li class="letter-item">U</li>
    <li class="letter-item">V</li>
    <li class="letter-item">W</li>
    <li class="letter-item">X</li>
    <li class="letter-item">Y</li>
    <li class="letter-item">Z</li>
    <li class="letter-item">1</li>
    <li class="letter-item">2</li>
    <li class="letter-item">3</li>
    <li class="letter-item">4</li>
    <li class="letter-item">5</li>
    <li class="letter-item">6</li>
    <li class="letter-item">7</li>
    <li class="letter-item">8</li>
    <li class="letter-item">9</li>
    <li class="letter-item">0</li>
  </ul>
  <div class="select-box">
    <!-- <select name="letters" id="letters" class="select">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="G">G</option>
      <option value="H">H</option>
      <option value="I">I</option>
      <option value="J">J</option>
      <option value="K">K</option>
      <option value="L">L</option>
      <option value="M">M</option>
      <option value="N">N</option>
      <option value="O">O</option>
      <option value="P">P</option>
      <option value="Q">Q</option>
      <option value="R">R</option>
      <option value="S">S</option>
      <option value="T">T</option>
      <option value="U">U</option>
      <option value="V">V</option>
      <option value="W">W</option>
      <option value="X">X</option>
      <option value="Y">Y</option>
      <option value="Z">Z</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="0">0</option>
    </select> -->
    <div class="select">
      <div class="select-input">A</div>
      <svg width="24" height="24" class="select-arrow">
        <use href="./images/icons.svg#select-arrow"></use>
      </svg>
      <div class="select-menu">
        <div class="option">A</div>
        <div class="option">B</div>
        <div class="option">C</div>
        <div class="option">D</div>
        <div class="option">E</div>
        <div class="option">F</div>
        <div class="option">G</div>
        <div class="option">H</div>
        <div class="option">I</div>
        <div class="option">J</div>
        <div class="option">K</div>
        <div class="option">L</div>
        <div class="option">M</div>
        <div class="option">N</div>
        <div class="option">O</div>
        <div class="option">P</div>
        <div class="option">Q</div>
        <div class="option">R</div>
        <div class="option">S</div>
        <div class="option">T</div>
        <div class="option">U</div>
        <div class="option">0</div>
        <div class="option">V</div>
        <div class="option">W</div>
        <div class="option">X</div>
        <div class="option">Y</div>
        <div class="option">Z</div>
        <div class="option">1</div>
        <div class="option">2</div>
        <div class="option">3</div>
        <div class="option">4</div>
        <div class="option">5</div>
        <div class="option">6</div>
        <div class="option">7</div>
        <div class="option">8</div>
        <div class="option">9</div>
        <div class="option">0</div>
      </div>
    </div>
  </div>
</section>
