<section class="hero container">
  <h1 class="page-title">A party without cocktails is not like a party</h1>
  <picture>
    <source srcset="./images/hero.desk.png" media="(min-width:1200px)">
    <source srcset="./images/hero.tablet.png" media="(min-width:768px)">
    <source srcset="./images/hero.mob.png" media="(min-width:320px)">
    <img src="./images/hero.mob.png" alt="hero cocktail" width="280" height="245" class="hero-image" />
  </picture>
  <p class="search-descr">Search your favorite cocktail by ABC</p>

  <ul class="letters-list">
    <li class="letter-item"><a href="#">A</a></li>
    <li class="letter-item"><a href="#">C</a></li>
    <li class="letter-item"><a href="#">B</a></li>
    <li class="letter-item"><a href="#">D</a></li>
    <li class="letter-item"><a href="#">E</a></li>
    <li class="letter-item"><a href="#">F</a></li>
    <li class="letter-item"><a href="#">G</a></li>
    <li class="letter-item"><a href="#">H</a></li>
    <li class="letter-item"><a href="#">I</a></li>
    <li class="letter-item"><a href="#">J</a></li>
    <li class="letter-item"><a href="#">K</a></li>
    <li class="letter-item"><a href="#">L</a></li>
    <li class="letter-item"><a href="#">M</a></li>
    <li class="letter-item"><a href="#">N</a></li>
    <li class="letter-item"><a href="#">O</a></li>
    <li class="letter-item"><a href="#">P</a></li>
    <li class="letter-item"><a href="#">Q</a></li>
    <li class="letter-item"><a href="#">R</a></li>
    <li class="letter-item"><a href="#">S</a></li>
    <li class="letter-item"><a href="#">T</a></li>
    <li class="letter-item"><a href="#">U</a></li>
    <li class="letter-item"><a href="#">V</a></li>
    <li class="letter-item"><a href="#">W</a></li>
    <li class="letter-item"><a href="#">X</a></li>
    <li class="letter-item"><a href="#">Y</a></li>
    <li class="letter-item"><a href="#">Z</a></li>
    <li class="letter-item"><a href="#">1</a></li>
    <li class="letter-item"><a href="#">2</a></li>
    <li class="letter-item"><a href="#">3</a></li>
    <li class="letter-item"><a href="#">4</a></li>
    <li class="letter-item"><a href="#">5</a></li>
    <li class="letter-item"><a href="#">6</a></li>
    <li class="letter-item"><a href="#">7</a></li>
    <li class="letter-item"><a href="#">8</a></li>
    <li class="letter-item"><a href="#">9</a></li>
    <li class="letter-item"><a href="#">0</a></li>
  </ul>
  <div class="select-box">
    <select name="letters" id="letters" class="select">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>
  </div>
</section>