<div id="modal-koktel" class="modal-coctal modal">
    <div class="modal-content container">
        <div class="first-part-decor">
        <img src="#" alt="name coctal" class="img-coctal-desctop">
        <h2 class="modal-title hidden-name">Negroni</h2>
        <div class="decoration-koktels">
            <h2 class="modal-title coctal-name">Negroni</h2>
                <h3 class="koktel-ingr">INGREDIENTS</h3>
                <p class="after-coctal-ingr">Per cocktail</p>
                <ul class="modal-list coctal-list">
                    <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ Ice </a></li>
                    <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ 1 ounce gin </a></li>
                    <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ 1 ounce Campari</a></li>
                    <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ 1 ounce sweet vermouth </a></li>
                    <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ Garnish: orange peel</a></li>
                </ul>
            </div>
        </div>

           <p class="koktel-instr modal-after-title">Instractions:</p>
            <p class="koktel-instr-text modal-text">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
            <img src="#" alt="name coctal" class="img-coctal-modile">
  
        
        <div class="decoration-coctal">
        <h3 class="coctal-ingr">INGREDIENTS</h3>
        <p class="after-coctal-ingr">Per cocktail</p>
        <ul class="modal-list coctal-list">
            <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ Ice </a></li>
            <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ 1 ounce gin </a></li>
            <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ 1 ounce Campari</a></li>
            <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ 1 ounce sweet vermouth </a></li>
            <li class="modal-item coctal-item"><a href="#" class="modal-link coctal-link">✶ Garnish: orange peel</a></li>
        </ul>
    </div>
        <div class="decoration-button">
            <button class="button-test"> Add to favorite </button>
        </div>
    </div>
</div>