<div class="cocktail-search--wrap">
  <label for="cocktail-search">
    <input type="text" name="cocktail-search" />
  </label>
</div>

<div class="cocktail-search--wrap">
  <select name="abc-cocktails" id="abc-cocktails">
    <option value="" class="non-select">
      --Choose first cocktail letter--
    </option>
    <option value="a">A</option>
    <option value="b">B</option>
    <option value="c">C</option>
    <option value="d">D</option>
    <option value="e">E</option>
    <option value="f">F</option>
    <option value="g">G</option>
    <option value="h">H</option>
    <option value="i">I</option>
    <option value="j">J</option>
    <option value="k">K</option>
    <option value="l">L</option>
    <option value="m">M</option>
    <option value="n">N</option>
    <option value="o">O</option>
    <option value="p">P</option>
    <option value="q">Q</option>
    <option value="r">R</option>
    <option value="s">S</option>
    <option value="t">T</option>
    <option value="u">U</option>
    <option value="v">V</option>
    <option value="w">W</option>
    <option value="x">X</option>
    <option value="y">Y</option>
    <option value="z">Z</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="0">1</option>
  </select>
</div>
