<section class="cocktails container">
  <h2 class="cocktails__title">Cocktails</h2>
  <ul class="cocktails__list"></ul>
  <ul class="navigation">
    <li class="navigation__item">
      <button class="navigation__btn-prev disabled" type="button">
        <svg class="navigation__btn-prev-icon">
          <use href="./images/icons.svg#icon-nav-prev"></use>
        </svg>
      </button>
    </li>
    <li class="navigation__item">
      <ul class="pages">
        <li class="pages__item">
          <a class="pages__link" href="#">1</a>
        </li>
        <li class="pages__item active-nav">
          <a class="pages__link" href="#">2</a>
        </li>
        <li class="pages__item-load">
          <a class="pages__link">...</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="#">4</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="#">5</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="#">6</a>
        </li>
      </ul>  
    </li>  
    <li class="navigation__item">
      <button class="navigation__btn-next" type="button">
        <svg class="navigation__btn-next-icon">
          <use href="./images/icons.svg#icon-nav-next"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
