<section class="cocktails container">
  <h2 class="cocktails__title">Cocktails</h2>
  <picture>
    <source srcset="./images/sorry.desk.png" media="(min-width:1200px)" />
    <source srcset="./images/sorry.tab.png" media="(min-width:768px)" />
    <source srcset="./images/sorry.mob.png" media="(min-width:320px)" />
    <img
      src="./images/sorry.mob.png"
      alt="Sorry, we didn't find any cocktail for you"
      class="sorry-image is-hidden"
      width="280"
      height="308"
    />
  </picture>

  <ul class="cocktails__list"></ul>

  <ul class="navigation">
    <li class="navigation__item pages"></li>
  </ul>
</section>

<!-- <li class="navigation__item">
      <ul class="pages">
        <li class="pages__item">
          <a class="pages__link" href="#">1</a>
        </li>
        <li class="pages__item active-nav">
          <a class="pages__link" href="#">2</a>
        </li>
        <li class="pages__item-load">
          <a class="pages__link">...</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="#">4</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="#">5</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="#">6</a>
        </li>
      </ul>
    </li> -->
